<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
<head>
  <link href="data:image/x-icon;base64,
  AAABAAEAEBAQAAEABAAoAQAAFgAAACgAAAAQAAAAIAAAAAEABAAAAAAAgAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAA/
  4QAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
  AAAAAAAAAAAAAAAAAAAAAAAAAAABEREREAAAAAEREREQAAAAARAAA
  AAAAAABEAAAAAAAAAEQEQABEQAAARARAAERAAABEBEAAREAAAEQEQ
  ABEQAAARARERERAAABEBEREREAAAEQEREREQAAARARAAERAAABEBE
  AAREAAAEQEQABEQAAARARAAERAAABEBEAAREADAPwAAwD8AAM//AADP/
  wAAyccAAMnHAADJxwAAyccAAMgHAADIBwAAyAcAAMnHAADJxwAAyccAA
  MnHAADJxwAA" rel="icon" type="image/x-icon" />
  <script type="text/javascript" async
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_CHTML">
</script>
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']],
    displayMath: [ ['$$', '$$']],
    processEscapes: true,
    skipTags: ['script', 'noscript', 'style', 'textarea', 'pre', 'code']
  },
  messageStyle: "none",
  "HTML-CSS": { preferredFont: "TeX", availableFonts: ["STIX","TeX"] }
});
  </script>
</head>
<link rel="stylesheet" href="/css/rotate.css">
  {% include head.html %}

  <body>

    {% include header.html %}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {% include footer.html %}

  </body>

</html>
