<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
<head>
  <link href="data:image/x-icon;base64,
  AAABAAEAEBAQAAEABAAoAQAAFgAAACgAAAAQAAAAIAAAAAEABAAAAAAAgAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAA/
  4QAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
  AAAAAAAAAAAAAAAAAAAAAAAAAAABEREREAAAAAEREREQAAAAARAAA
  AAAAAABEAAAAAAAAAEQEQABEQAAARARAAERAAABEBEAAREAAAEQEQ
  ABEQAAARARERERAAABEBEREREAAAEQEREREQAAARARAAERAAABEBE
  AAREAAAEQEQABEQAAARARAAERAAABEBEAAREADAPwAAwD8AAM//AADP/
  wAAyccAAMnHAADJxwAAyccAAMgHAADIBwAAyAcAAMnHAADJxwAAyccAA
  MnHAADJxwAA" rel="icon" type="image/x-icon" />
</head>
<link rel="stylesheet" href="/css/rotate.css">
  {% include head.html %}

  <body>

    {% include header.html %}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {% include footer.html %}

  </body>

</html>
